* {
  box-sizing: border-box;
}
:root {
  --font-heading: "Sen", sans-serif;
  --primary-color: #ffb900;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* common */
.btn {
  padding: 0px 16px;
  color: #fff;
  text-align: center;
  display: inline-block;
  font-size: 1.6rem;
  line-height: 50px;
  font-weight: 600;

  min-width: 118px;
  border-radius: 999px;
  background: #171100;
}
.btn:hover {
  opacity: 0.9;
}
a {
  text-decoration: none;
}
.main-content {
  width: 117rem;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
.nav a {
  position: relative;
  color: #5f5b53;
  padding: 0.8rem 2.1rem;
  font-size: 1.6rem;
}
.nav a:hover {
  color: #171100;
  text-shadow: 1px 0 0 currentColor;
  font-size: 1.6rem;
}
.nav li.active a::after {
  left: 2.1rem;
  bottom: 0.6rem;
  position: absolute;
  content: "";
  display: block;
  width: 1.2rem;
  height: 0.2rem;
  border-radius: 0.1rem;
  background: #171100;
}

/* header */
.header {
  background: #fffcf4;
}
.header.fixed {
  z-index: 1;
  position: sticky;
  top: -28px;
}
.header .body {
  display: flex;
  align-items: baseline;
  padding: 36px 0 8px;
}
.nav ul {
  display: flex;
}
.nav {
  margin-left: auto;
}
.header .btn-sign {
  min-width: 144px;
}
.header .action {
  margin-left: 49px;
}
/* hero */
.hero {
  padding: 56px 0 65px;
}
.hero .body {
  display: flex;
}
.hero .media-block {
  position: relative;
  width: 48%;
}
.hero .content-block {
  width: 52%;
}
.hero .media-block .img {
  object-fit: cover;
  width: 470px;
  height: 685px;
  border-radius: 20px;
  background: url(/asset/img/guy-lesson\ 1.png) lightgray -448.75px 0px / 218.672%
    100% no-repeat;
}
.hero .hero-summary {
  padding: 24px;
  right: 0px;
  position: absolute;
  width: 270px;
  bottom: 48px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}
.hero-summary .item {
  align-items: center;
  display: flex;
}
.hero-summary .icon {
  display: flex;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: #fff9e8;
}
.icon2 {
  background-color: #fcefff;
}
.icon3 {
  background-color: #ebeaff;
}
.hero-summary .info {
  margin-left: 16px;
}
.hero-summary .label {
  color: #5f5b53;
  font-family: Poppins;
  font-size: 1.4rem;

  font-weight: 400;
  line-height: 186%; /* 185.714% */
}
.hero-summary .tittle {
  color: #171100;
  font-family: Poppins;
  font-size: 1.8rem;

  font-weight: 600;
  line-height: 30px; /* 166.667% */
}
.hero-summary .item + .item {
  margin-top: 22px;
}
/* khối trái */
.hero .content-block {
  width: 52%;
  padding-left: 130px;
  padding-top: 64px;
}
.hero .heading {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 5.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17; /* 117.241% */
  letter-spacing: -1.16px;
}
.hero .desc {
  color: #5f5b53;

  font-size: 1.8rem;

  font-weight: 400;
  line-height: 1.67; /* 166.667% */
}
.hero .cta-group {
  margin-top: 38px;
  display: flex;
  align-items: center;
}
.hero-btn {
  min-width: 180px;
  var: var(--primary-color);
}
.hero .watchvideo {
  background: transparent;
  margin-left: 28px;
  border: none;
  align-items: center;
}
.hero .watchvideo .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.07);
}
.hero .watchvideo {
  color: #171100;

  font-size: 1.8rem;

  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}
.hero .recent {
  margin-top: 48px;
}
.hero .stats strong {
  margin-right: 15px;
  color: #171100;
  font-family: var(--font-heading);
  font-size: 4.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 12.3; /* 122.727% */
}
.hero .stats strong:nth-child(2) {
  margin-left: 28px;
}
.hero .stats {
  margin: 28px;
}
